.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App p {
  padding-left: 10vw;
  padding-right: 10vw;
}

/* tooltip style. reference -> https://bl.ocks.org/d3noob/180287b6623496dbb5ac4b048813af52 */
div.tooltip {
  position: absolute;
  text-align: center;
  width: fit-content;
  padding: 10px;
  font: 12px sans-serif;
  background: #2c2c2c;
  border: 0px;
  border-radius: 5px;
  pointer-events: none;
  color: white;
}